.nav{
    position: fixed;
    top:0px;
    width: 98%;
    padding: 14px;
    height: 30px;
    z-index: 1;

    display: flex;
    justify-content: space-between;

    /* animataions */
    transition-timing-function: ease-in;
    transition: all 0.5s;


}
.nav__logo{
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
}
.nav__avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}
.nav__black{
    background-color: #111;
}
.nm-content-header-section{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
}
.nm-content-header-right .btn-get-started {
    min-height: 0;
    line-height: 15px;
}
.nm-content-header-right .authLinks, .nm-content-header-right .btn-get-started {
    padding: 9px 20px;
    font-size: 13px;
    margin: 0 0 0 8px;
}
.btn-red {
    color: #fff;
    background-color: #e50914;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.45);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.45);
    box-shadow: 0 1px 0 rgba(0,0,0,.45);
}
.btn {
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .1px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    position: relative;
    box-shadow: 0 1px 0 rgba(0,0,0,.2);
}
.nm-content-header-right .authLinks {
    color: #fff;
    font-weight: 400;
    border: 1px solid #888;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    line-height: 13px;
    white-space: nowrap;
    text-decoration: none;
}